@charset "utf-8";
/* CSS Document */

.registerBtn {
    /*   background-color: #1B5292;
       border: 1px solid #ECE9D6;
       color: #FFFFFF;
       font-family: Arial;
       font-weight: bolder;
       width:100px;*/
    font: 100% arial;
    border: 1px solid;
    width: 99px;

    height: 30px;
    padding: 2px 0 3px 0;
    cursor: pointer;
    background: #3B3B3B;
    color: #FFF;
}

.widthRegister {

    width: 90px;
    direction: rtl;
}

.selectField {
    border: 1px solid #e2e1e1;
    font-size: 11px;
    margin-right: 10px;
    padding: 2px;
    max-width: 80px;
}

.round {
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.input_text {
    padding: 5px;
    width: 600px;
    font: 100% arial;
    border: 1px solid #E5E5DB;
    background: #FFF;
    color: #47433F;
}

.w3 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

#box_header, #box_footer {
    width: 400px;
    background: url(box_header.png) no-repeat;
    height: 14px;
    margin-left: 600px;
    margin-right: 600px;
}

#content_footer {
    background: url(content_footer.png) no-repeat;
}

.filter_box_div {
    padding: 20px;
    /*width: 940px;*/
    margin: 0 auto;
    overflow: hidden;
    float: right;
}

.statistics_box_div {
    padding: 20px;
    /*width: 240px;*/
    margin: 0 auto;
    overflow: hidden;
}

.add_new_guest_box_div {
    padding: 20px;
    /*width: 240px;*/
    margin: 0 auto;
    overflow: hidden;
}

.box {
    /*background: url("http://sceaguda.zxq.net/register.png") no-repeat scroll 0 0 transparent;
    /*height: 204px;
    padding: 5px 0 0 1px;
    width: 404px;*/
    background: #FFF;
    border-left: 1px solid #ECECE0;
    border-right: 1px solid #ECECE0;
    overflow: hidden;
    margin-left: 630px;
    margin-right: 600px;
    padding: 0 0 0 70px;
    border-left: 1px solid #ECECE0;
    border-right: 1px solid #ECECE0;
    /*margin-bottom: 20px; */
}

.site_content_small {
    /*width: 520px;*/
    width: 100%;
    overflow: hidden;
    margin: 15px auto;
    background: #FFF;
    border-left: 1px solid #ECECE0;
    border-right: 1px solid #ECECE0;

    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(200, 200, 200, 0.6), 0 0 1px #D4D4D4, 0 0 1px #D4D4D4;

}

/*#site_content_small table tr td {*/
/*background: none repeat scroll 0 0 #FFF;*/
/*border-top: 1px solid #FFFFFF;*/
/*color: #47433F;*/
/*}*/

/*.box table tr td {*/
/*background: none repeat scroll 0 0 #FFFFFF;*/
/*color: #47433F;*/
/*border-top: 1px solid #FFFFFF;*/
/*}*/

.fieldBg {

    background: #FFF url("http://sceaguda.zxq.net/field_bg2.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #E2E1E1;

}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #F4F4EE;
    color: #5D5D5D;
}

p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #43423F;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

h2 {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #B60000;
}

h3 {
    font: normal 165% 'century gothic', arial, sans-serif;
}

h4, h5, h6 {
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #B60000;
}

h5, h6 {
    font: italic 95% arial, sans-serif;
    color: #888;
}

h6 {
    color: #362C20;
}

/*a, a:hover {*/
/*outline: none;*/
/*text-decoration: underline;*/
/*color: #A4AA04;*/
/*}*/

a:hover {
    text-decoration: none;
    color: #5D5D5D;
}

.left {
    float: left;
    width: auto;
    margin-right: 10px;
}

.right {
    float: right;
    width: auto;
    margin-left: 10px;
}

.center {
    display: block;
    text-align: center;
    margin: 20px auto;
}

blockquote {
    margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

ul {
    margin: 2px 0 22px 17px;
}

ul li {
    list-style-type: none;
    margin: 0 0 2px 0;
    /*padding: 0 0 4px 5px;*/
}

ol {
    margin: 8px 0 22px 20px;
}

ol li {
    margin: 0 0 11px 0;
}

#main, #logo, #menubar, #content_header, #site_content, #content_footer, #footer {
    margin-left: auto;
    margin-right: auto;
}

#main {
    padding-bottom: 20px;
}

#header {
    background: #3A332D;
    height: 170px;
    margin-bottom: 30px;
}

#logo {
    width: 878px;
    position: relative;
    height: 134px;
    background: #3A332D url(logo.png) no-repeat;
}

#logo #logo_text {
    position: absolute;
    top: 10px;
    left: 0;
}

#logo h1, #logo h2 {
    font: normal 300% 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0 0 0 9px;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;
}

#logo_text h1 a .logo_colour {
    color: #ECEF01;
}

#logo_text h2 {
    font-size: 120%;
    padding: 4px 0 0 0;
    color: #A8AA94;
    text-align: center;
}

#menubar {
    height: 44px;
    width: 940px;
    margin: 1px auto 0 auto;
}

ul#menu {
    float: right;
}

ul#menu li {
    float: left;
    padding: 0 0 0 6px;
    list-style: none;
    margin: 2px 2px 0 0;
    background: #635B53 url(tab.png) no-repeat 0 0;
}

ul#menu li a {
    font: normal 100% 'trebuchet ms', sans-serif;
    display: block;
    float: left;
    height: 20px;
    padding: 6px 20px 5px 20px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    background: #635B53 url(tab.png) no-repeat 100% 0;
}

ul#menu li.tab_selected a {
    height: 20px;
    padding: 6px 28px 5px 22px;
}

ul#menu li.selected {
    margin: 2px 2px 0 0;
    background: #635B53 url(tab_selected.png) no-repeat 0 0;
}

ul#menu li.selected a, ul#menu li.selected a:hover {
    background: #635B53 url(tab_selected.png) no-repeat 100% 0;
    color: #111;
}

ul#menu li a:hover {
    color: #ECEF01;
}

#content_header, #content_footer {
    width: 940px;
    background: url(content_header.png) no-repeat;
    height: 14px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 3px 10px rgba(200, 200, 200, 0.6), 0 0 1px #D4D4D4, 0 0 1px #D4D4D4;

}

#content_footer {
    background: url(content_footer.png) no-repeat;
    box-shadow: 0 3px 10px rgba(200, 200, 200, 0.6), 0 0 1px #D4D4D4, 0 0 1px #D4D4D4;

}

#site_content_edit {
    width: 940px;
    overflow: hidden;
    margin: 0 auto 0 auto;

    padding: 10px;

}

#site_content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #ECECE0;
    border-right: 1px solid #ECECE0;
    border-radius: 10px 10px 10px 10px;
    margin: 0 120px 0 auto;
    overflow: hidden;
    padding: 0 20px 20px 40px;
    /*width: 878px;*/
    width: 60%;
    box-shadow: 0 3px 10px rgba(200, 200, 200, 0.6), 0 0 1px #D4D4D4, 0 0 1px #D4D4D4;
    float: right;


}

#site_content_left {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #ECECE0;
    border-right: 1px solid #ECECE0;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto 0 170px;
    overflow: hidden;
    padding: 10px 20px 20px 20px;
    /*width: 878px;*/
    width: 15%;
    box-shadow: 0 3px 10px rgba(200, 200, 200, 0.6), 0 0 1px #D4D4D4, 0 0 1px #D4D4D4;
    float: left;

}

.sidebar {
    float: left;
    width: 190px;
    padding: 15px 15px 20px 15px;
}

.sidebar ul {
    width: 178px;
    padding: 4px 0 0 0;
    margin: 4px 0 30px 0;
}

.sidebar li {
    list-style: none;
    padding: 0 0 7px 0;
}

.sidebar li a, .sidebar li a:hover {
    padding: 0 0 0 35px;
    display: block;
    background: transparent url(link.png) no-repeat left center;
}

.sidebar li a.selected {
    color: #444;
    text-decoration: none;
}

#content {
    text-align: left;
    width: 613px;
    padding: 0;
    float: right;
}

#content ul {
    margin: 2px 0 22px 0px;
}

#content ul li {
    list-style-type: none;
    background: url(bullet.png) no-repeat;
    margin: 0 0 6px 0;
    padding: 0 0 4px 25px;
    line-height: 1.5em;
}

#footer {
    width: 916px;
    font: normal 90% arial, sans-serif;
    height: 28px;
    margin-top: 20px;
    padding: 20px 0 5px 0;
    text-align: center;
    background: transparent;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer a, #footer a:hover {
    color: #888;
    text-decoration: none;
}

#footer a:hover {
    color: #333;
}

.search {
    color: #5D5D5D;
    border: 1px solid #BBB;
    width: 134px;
    padding: 4px;
    font: 100% arial, sans-serif;
}

.form_settings {
    margin: 15px 0 0 0;
}

.form_settings p {
    padding: 0 0 4px 0;
}

.form_settings span {
    float: left;
    width: 200px;
    text-align: center;
}

.form_settings input, .form_settings textarea {
    padding: 5px;
    width: 299px;
    font: 100% arial;
    border: 1px solid #E5E5DB;
    background: #FFF;
    color: #47433F;
}

.form_settings .submit {
    font: 100% arial;
    border: 1px solid;
    width: 99px;
    margin: 0 0 0 212px;
    height: 33px;
    padding: 2px 0 3px 0;
    cursor: pointer;
    background: #3B3B3B;
    color: #FFF;
}

.form_settings textarea, .form_settings select {
    font: 100% arial;
    width: 299px;
}

.form_settings select {
    width: 310px;
}

.form_settings .checkbox {
    margin: 4px 0;
    padding: 0;
    width: 14px;
    border: 0;
    background: none;
}

.separator {
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;
}

table {
    /*margin: 10px 0 30px 0;*/
}

/*table tr th {*/
/*text-align: center;*/
/*background: #3B3B3B;*/
/*color: #FFF;*/
/*padding: 7px 4px;*/
/*}*/

/*table tr td {*/
/*background: none repeat scroll 0 0 #F4F4EE;*/
/*color: #47433F;*/
/*padding: 5px 2px;*/
/*text-align: right;*/
/*border-top: 1px solid #FFFFFF;*/
/*}*/

/*.guest_table {*/
/*width: 100%;*/
/*height: 100%;*/
/*background: #f4f4ee;*/
/*margin: 0;*/
/*}*/

/*.guest_table tr th {*/
/*text-align:center;*/
/*background: #3B3B3B;*/
/*color: #FFF;*/
/*padding: 7px 4px;*/
/*}*/

/*.guest_table tr td {*/
/*background: #ffffff;*/
/*color: #47433F;*/
/*padding: 0;*/
/*text-align: right;*/
/*border-top: 0;*/
/*}*/

.leadnews {
    background: -moz-linear-gradient(center top, #EEEEEE, #FFFFFF 35%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 3px #F0F0F0;
    color: #666666;
    height: 20px;
    margin: 0.5em 0;
    padding: 5px;
    text-align: right;
    width: 90px;
    outline: 0 none;
}

.box_title {

    background-color: #F4F4F4;
    border-bottom-color: #D2D2D2;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    display: block;
    float: left;
    height: 48px;
    /*width: 520px;*/
    width: 100%;

}

.title_text {
    color: #6F6F6F;
    float: right;
    font-size: 18px;
    height: auto;
    line-height: 20px;
    margin: 15px 20px 15px 0;
    width: auto;
}

.attached_files {
    width: 660px;
    text-align: left;
}

.attached_files p {
    padding: 0;

}

.ajax_respons_msg {
    background: none repeat scroll 0 0 #FFF1A8;
    border-color: #FFF1A8;
    color: #000000;
    /*margin:50px;*/
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}

.ajax_respons_msg_big {
    background: none repeat scroll 0 0 #FFF1A8;
    border-color: #FFF1A8;
    color: #000000;
    margin: 50px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    font-size: 22px;
}

.user_details {
    width: 240px;
    overflow: hidden;
    margin: 22px;
    background: #FFF;
    border: 2px solid #ECECE0;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(200, 200, 200, 0.6), 0 0 1px #D4D4D4, 0 0 1px #D4D4D4;
    float: right;
    text-align: right;
}

.user_details_title {

    background-color: #F4F4F4;
    border-bottom-color: #D2D2D2;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    display: block;
    float: left;
    height: 28px;
    width: 240px;
    cursor: pointer;
    cursor: hand

}

.user_details_title_text {
    color: #6F6F6F;
    float: right;
    font-size: 13px;
    height: auto;
    line-height: 20px;
    padding: 5px;
    width: auto;
    font-weight: bold;

}

.border1 {
    border: 1px solid #E2E1E1;
}

.padd5 {
    padding: 5px;
}

.paddR20 {
    padding-right: 20px;
}

.bg3 {
    background: none repeat scroll 0 0 #FCFCFC;
}

.border_radius {
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.font18 {
    font-size: 18px;
}

.seperator1 {
    padding: 0 10px;
}

.italic_font {
    color: #888888;
    font: italic 95% arial, sans-serif;
}

.searchForm {

    box-shadow: 0 3px 10px rgba(200, 200, 200, 0.6), 0 0 1px #D4D4D4, 0 0 1px #D4D4D4;

    background: url(search.png) no-repeat scroll 0 0 transparent;
    border: 0 none;
    height: 27px;
    line-height: 27px;
    padding-left: 7px;
    padding-right: 28px;
    width: 153px;
}

.checkOn {
    background: url("icons/check_on.png");
    /*no-repeat scroll 0 5px rgba(0, 0, 0, 0);*/
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
    margin-bottom: 2px;
}

.checkOff {
    background: url("icons/check‬‏_off.png");
    /*no-repeat scroll 0 5px rgba(0, 0, 0, 0);*/
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
    margin-bottom: 2px;

}

.xOn {
    background: url("icons/x_on.png");
    /*no-repeat scroll 0 5px rgba(0, 0, 0, 0);*/
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
    margin-bottom: 2px;
}

.xOff {
    background: url("icons/x_off.png");
    /*no-repeat scroll 0 5px rgba(0, 0, 0, 0);*/
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
    margin-bottom: 2px;
}

.questionOn {
    background: url("icons/question_on.png");
    /*no-repeat scroll 0 5px rgba(0, 0, 0, 0);*/
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
    margin-bottom: 2px;
}

.questionOff {
    background: url("icons/question_off.png");
    /*no-repeat scroll 0 5px rgba(0, 0, 0, 0);*/
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    width: 18px;
    margin-bottom: 2px;
}

.countRedSmall {
    background: none repeat scroll 0 0 red;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    padding: 1px 4px;
    text-indent: 0;
    float: left;
    /*margin-top: 8px;*/
    font-size: 11px;
}

.maxWidth {
    width: 100%;
}

.marginB10 {
    margin-bottom: 10px;
}

.margin3 {
    margin: 3px;
}

.largeOff {
    background: -moz-linear-gradient(center top, #fff, #f1f1f1) repeat scroll 0 0 transparent;
    border: 1px solid #dedede;
    border-radius: 3px;
    color: #595959;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 11px;
    line-height: 20px;
    margin-right: 5px;
    padding: 3px 12px;
}

.miniOff:hover, .largeOff:hover, .smallOff:hover {
    border: 1px solid #c4c2c2;
}

.buttonCss, .buttonCss a {
    background: -moz-linear-gradient(center top, #fff, #f1f1f1) repeat scroll 0 0 transparent;
    border: 1px solid #dedede;
    border-radius: 3px;
    color: #595959;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 21px;
    line-height: 20px;
    /*margin-right: 5px;*/
    /*padding: 0 7px;*/
    text-decoration: none !important;
    width: 11px;
}

.buttonCss:hover {
    border: 1px solid #bebebe;
}

.xls {
    background: url("icons/xls.gif");
    /*no-repeat scroll 0 5px rgba(0, 0, 0, 0);*/
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin-bottom: 2px;
}

.absolute {
    position: absolute
}

.relative {
    position: relative;
}

#loadingDiv {
    background: url("icons/loadingBg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #595858;
    font-size: 11px;
    font-weight: bold;
    line-height: 27px;
    margin: 0 auto;
    padding-left: 34px;
    position: relative;
    width: 151px;
}

#loader {
    background: url("icons/loader.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 14px;
    margin-bottom: -2px;
    margin-left: 10px;
    padding-bottom: 2px;
    width: 16px;
}

#loadingTop {
    background: none repeat scroll 0 0 #c9ff30;
    height: 5px;
    left: 0;
    min-width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

.edit {
    background: url("icons/edit.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 16px;
    /*margin-bottom: 2px;*/
}

.grey td {
    background: none repeat scroll 0 0 #e6e6e0;
}

.blockHolder {
    border: 1px solid #f0eded;
    text-align: left;
    width: 100px;
}

.greenBlock {
    background: #85e079 none repeat-x scroll 0 0;
    height: 10px;
}

.redBlock {
    background: #fe7f7f none repeat-x scroll 0 0;
    height: 10px;
}

.floatLeft {
    float: left;
}

#products {
    float: right;
    width: 25%;
    margin-right: 2em
}

#tables {
    width: 71%;
    float: right;
    /*height: 270px*/
}

#tables ol {
    width: 100%;
    height: 100%;

}

/* style the list to maximize the droppable hitarea */
#tables ol li {
    margin: 0;
    padding: 2px;
    display: block;

}

.tagBG,
.tagBGActive {
    cursor: pointer;
    float: right;
    line-height: 23px;
    margin: 0 3px 3px 0;
    padding: 0 5px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
}

.tagBG {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.tagBG:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}

.tagBGActive {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.tagBGActive:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.narrow{
    display: inline-block;
    width: 104px;
    float: left;

}

.smallWidget{
    display: inline-block;
    height: 60px;
    margin-top: 1em;
    width: 80px;

}

div.dataTables_wrapper { min-height: 300px; }

/*.form-control {*/
    /*background-color: #fff;*/
    /*background-image: none;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
    /*color: #555;*/
    /*display: block;*/
    /*font-size: 14px;*/
    /*height: 34px;*/
    /*line-height: 1.42857;*/
    /*padding: 0px 12px;*/
    /*transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;*/
    /*width: 100%;*/
/*}*/
.leadnews:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}